<ul id="breadcrumbs">
    {{- range .Ancestors.Reverse }}
        {{ if strings.Contains .Title "snugg.ie" }}
            {{ partial "logo.html" . }}<li></li>
        {{ else }}
        <div id="hidden-items"> /
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li> / 
        {{ end }}
    {{- end }}
    {{ if .Title }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ else }}
    <li><a href="{{ .RelPermalink }}">{{ .Summary | safeHTML | truncate 30 }}</a></li>
    {{ end }}
</ul>