<footer id="footer">
  <section>
    <h2>✨ 	
      {{ partial "breadcrumbs.html" . }}
    </h2>
    <p>Evie's small personal website for hosting my own projects and centralizing all of my internet-related stuff within one place.
    <ul class="actions">
          <li><a href="/2020/12/23/lets-look-into.html" class="button">🖥️ — What am I running on?</a></li>
      </ul>
      {{ if .Site.Params.footer.social_list.enable }}
      <ul class="icons">
          <li><i href="https://tech.lgbt/@Snuggle" class="icon alt fa-brands fa-mastodon"></i><span class="label"></span></a></li>
      </ul>
    {{ end }}

  </section>
  
  {{ if .Site.Params.footer.copyright.enable }}
  <p class="copyright"><a href="https://snugg.ie/feed.xml">RSS</a> - <a href="https://snugg.ie/feed.json">JSON</a><br><br>
    <img width="50px" id="footer-logo" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/images/sprinkles/vector/sprinkles.svg"><br></p>      
  {{ end }}

</footer>
