<footer id="footer">
  <section>
    <h2> <img width="30px" id="footer-logo" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/images/sprinkles/vector/sprinkles.svg">       	
      {{ partial "breadcrumbs.html" . }}
    </h2>
    <p>Evie's small personal website for hosting my own projects and centralizing all of my internet-related stuff within one place.
      {{ if .Site.Params.footer.social_list.enable }}
      <ul class="icons">
          <li><a href="https://snuggle.link/mastodon" class="icon alt fa-brands fa-mastodon"></a><span class="label"></span></a></li>
          <li><a href="https://snuggle.link/bluesky" class="icon alt fa-brands fa-bluesky"></a><span class="label"></span></a></li>
          <li><a href="https://snuggle.link/threads" class="icon alt fa-brands fa-threads"></a><span class="label"></span></a></li>

      </ul>
    {{ end }}

  </section>

  <section>
    <p>Subscribe to my newsletter!</p>
    <form method="POST" action="https://micro.blog/users/subscribe/193272">
      <input style="max-width: 100%;" type="text" name="email" placeholder="Your email address"> 
      <input type="submit" style="margin-top: 1em;" value="Subscribe">
    </form>
  </section>
  
  {{ if .Site.Params.footer.copyright.enable }}
  
  <p class="copyright"><img width="30px" id="footer-logo" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/images/sprinkles/vector/sprinkles.svg"><br>
    <a href="https://snugg.ie/feed.xml">RSS</a> - <a href="https://snugg.ie/feed.json">JSON</a><br><a href="https://xn--sr8hvo.ws/previous">←</a>
    <a href="https://xn--sr8hvo.ws">🕸💍</a> 
    <a href="https://xn--sr8hvo.ws/next">→</a><br></p>
  {{ end }}

</footer>
